<a href="https://colab.research.google.com/github/pabhishekabi/Data-science_codes/blob/main/Assignment_Q9b.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
data=pd.read_csv("/content/Q9_b.csv")

In [7]:
data2=data.iloc[:,1:]
data2

            SP         WT
0   104.185353  28.762059
1   105.461264  30.466833
2   105.461264  30.193597
3   113.461264  30.632114
4   104.461264  29.889149
..         ...        ...
76  169.598513  16.132947
77  150.576579  37.923113
78  151.598513  15.769625
79  167.944460  39.423099
80  139.840817  34.948615

[81 rows x 2 columns]

In [8]:
# Skewness
data2.skew()

SP    1.611450
WT   -0.614753
dtype: float64

In [9]:
# Kurtosis
data2.kurt()

SP    2.977329
WT    0.950291
dtype: float64