<a href="https://colab.research.google.com/github/pabhishekabi/Data-science_codes/blob/main/Recommender_systems.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [28]:
import pandas as pd 
import numpy as np

In [7]:
movies_df=pd.read_csv('Movie.csv')

In [8]:
movies_df

      userId             movie  rating
0          3  Toy Story (1995)     4.0
1          6  Toy Story (1995)     5.0
2          8  Toy Story (1995)     4.0
3         10  Toy Story (1995)     4.0
4         11  Toy Story (1995)     4.5
...      ...               ...     ...
8987    7087  GoldenEye (1995)     3.0
8988    7088  GoldenEye (1995)     1.0
8989    7105  GoldenEye (1995)     2.0
8990    7113  GoldenEye (1995)     3.0
8991    7117  GoldenEye (1995)     3.0

[8992 rows x 3 columns]

In [9]:
movies_df[0:5]

   userId             movie  rating
0       3  Toy Story (1995)     4.0
1       6  Toy Story (1995)     5.0
2       8  Toy Story (1995)     4.0
3      10  Toy Story (1995)     4.0
4      11  Toy Story (1995)     4.5

In [10]:
len(movies_df.userId.unique())

4081

In [11]:
  len(movies_df.movie.unique())

57

In [12]:
user_movies_df=movies_df.pivot(index='userId',
                              columns='movie',
                               values='rating'). reset_index(drop=True)

In [13]:
user_movies_df

movie  Father of the Bride Part II (1995)0.5  ...  Waiting to Exhale (1995)5
0                                        NaN  ...                        NaN
1                                        NaN  ...                        NaN
2                                        NaN  ...                        NaN
3                                        NaN  ...                        NaN
4                                        NaN  ...                        NaN
...                                      ...  ...                        ...
4076                                     NaN  ...                        NaN
4077                                     NaN  ...                        NaN
4078                                     NaN  ...                        NaN
4079                                     NaN  ...                        NaN
4080                                     NaN  ...                        NaN

[4081 rows x 57 columns]

In [14]:
user_movies_df.index=movies_df.userId.unique()

In [15]:
user_movies_df

movie  Father of the Bride Part II (1995)0.5  ...  Waiting to Exhale (1995)5
3                                        NaN  ...                        NaN
6                                        NaN  ...                        NaN
8                                        NaN  ...                        NaN
10                                       NaN  ...                        NaN
11                                       NaN  ...                        NaN
...                                      ...  ...                        ...
7044                                     NaN  ...                        NaN
7070                                     NaN  ...                        NaN
7080                                     NaN  ...                        NaN
7087                                     NaN  ...                        NaN
7105                                     NaN  ...                        NaN

[4081 rows x 57 columns]

In [16]:
user_movies_df.fillna(0, inplace=True)

In [17]:
user_movies_df

movie  Father of the Bride Part II (1995)0.5  ...  Waiting to Exhale (1995)5
3                                        0.0  ...                        0.0
6                                        0.0  ...                        0.0
8                                        0.0  ...                        0.0
10                                       0.0  ...                        0.0
11                                       0.0  ...                        0.0
...                                      ...  ...                        ...
7044                                     0.0  ...                        0.0
7070                                     0.0  ...                        0.0
7080                                     0.0  ...                        0.0
7087                                     0.0  ...                        0.0
7105                                     0.0  ...                        0.0

[4081 rows x 57 columns]

In [18]:
#calculating cosine similarity between users 
from sklearn.metrics import pairwise_distances
from scipy.spatial.distance import cosine, correlation

In [19]:
user_sin = 1- pairwise_distances(user_movies_df.values,metric='cosine')

In [20]:
user_sin

array([[1.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.55337157],
       [0.        , 1.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 1.        , ..., 0.52075564, 1.        ,
        0.62254302],
       ...,
       [0.        , 0.        , 0.52075564, ..., 1.        , 0.52075564,
        0.54032132],
       [0.        , 0.        , 1.        , ..., 0.52075564, 1.        ,
        0.62254302],
       [0.55337157, 0.        , 0.62254302, ..., 0.54032132, 0.62254302,
        1.        ]])

In [22]:
#store the results in dataframe 
user_sin_df=pd.DataFrame(user_sin)

In [24]:
#SET THE INDEX AND COLUMN NAMES TO USER ID 
user_sin_df.index=movies_df.userId.unique()
user_sin_df.columns=movies_df.userId.unique()

In [25]:

user_sin_df.iloc[0:5,0:5]

     3    6    8    10   11
3   1.0  0.0  0.0  0.0  1.0
6   0.0  1.0  0.0  0.0  0.0
8   0.0  0.0  1.0  0.0  0.0
10  0.0  0.0  0.0  1.0  0.0
11  1.0  0.0  0.0  0.0  1.0

In [31]:
np.fill_diagonal(user_sin,0)
user_sin_df.iloc[0:5,0:5]

     3    6    8    10   11
3   0.0  0.0  0.0  0.0  1.0
6   0.0  0.0  0.0  0.0  0.0
8   0.0  0.0  0.0  0.0  0.0
10  0.0  0.0  0.0  0.0  0.0
11  1.0  0.0  0.0  0.0  0.0

In [36]:
#Most similar users 
user_sin_df.idxmax(axis=1)[0:1000]

3         11
6          3
8         16
10      4047
11         3
        ...
2697     286
2698       8
2700       3
2702       8
2704     586
Length: 1000, dtype: int64

In [39]:
movies_df[(movies_df['userId']==6) | (movies_df['userId']==168)]

      userId                     movie  rating
1          6          Toy Story (1995)     5.0
60       168          Toy Story (1995)     4.5
3725       6  Grumpier Old Men (1995)3     NaN
6464       6            Sabrina (1995)     5.0

In [64]:
user_1=movies_df[movies_df['userId']==6]

In [63]:
user_2=movies_df[movies_df['userId']==168]

In [62]:
user_1.movie

1               Toy Story (1995)
3725    Grumpier Old Men (1995)3
6464              Sabrina (1995)
Name: movie, dtype: object

In [61]:
user_2.movie

60    Toy Story (1995)
Name: movie, dtype: object

In [65]:
pd.merge(user_1,user_2,on='movie',how='outer' )

   userId_x                     movie  rating_x  userId_y  rating_y
0         6          Toy Story (1995)       5.0     168.0       4.5
1         6  Grumpier Old Men (1995)3       NaN       NaN       NaN
2         6            Sabrina (1995)       5.0       NaN       NaN